---
---

@import "{{ site.theme }}";
a{
    color: rgba(255,255,255,0.8);
    font-weight: bold;
}
.btn {
    border: rgba(255,255,255,0.8) 2px solid;
    > a {
        text-decoration: none;
    }
}
